<div class="w-full h-full flex">
  <div class="h-full w-1/4 bg-color-grey-500">
    <app-user-list></app-user-list>
  </div>

  <div class="h-full w-3/4">
    <app-user-chat></app-user-chat>
  </div>
</div>
